<div class="main">
  <div class="header">
    <h3>Раздел: {{currentMenu?.name}}</h3>
    <div class="total">
      <p>Выбрано пунктов: {{selectedItems}}</p>
      <p>Общее значение: {{sumCount}}</p>
    </div>
  </div>
  <div class="page">
    <div class="leftPage">
      <ul>
        @for (menu of menus; track menu.name) {
          <li class="menusList" [class.active]="currentMenu === menu"
              (click)="selectMenu(menu)">
            {{ menu.name }}
          </li>
        }
      </ul>
    </div>
    <div class="list">
      <ul>
        @for (item of items; track item.name) {
          <li>
            <label>
              <input type="checkbox" [(ngModel)]="item.selected">
              {{ item.name }} {{ item.value }}
            </label>
          </li>
        }
      </ul>
    </div>
  </div>
</div>

