.main {
  min-height: 100vh;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  border: black solid 1px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  display: flex;
  justify-content: end;
  flex-direction: row;
  gap: 1rem;
}

.menusList {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.menusList:hover {
  background: rgba(135, 135, 135, 0.42);
  color: #5c0101;
}

.menusList.active {
  font-weight: 600;
  border-left: 4px solid #db3461;
}

.page {
  display: grid;
  grid-template-columns: 30rem auto;
  flex: 1;
  min-height: 0;
}

.leftPage {
  padding: 2rem;
  border: black solid 1px;
}

.list {
  padding: 2rem;
  border: black solid 1px;
  background-color: #b8b8b8;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 20px 0;
}
label {
  cursor: pointer;
}
